.calendar-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  border-top: 0.5px #F0F3F9 solid;
}

.calendar-item:not(:last-child) {
  border-right: 0.5px #F0F3F9 solid;
}


.calendar-item--inverted {
  background-color: #ffffff;
}

.calendar-item--inverted .calendar-item__header {
  color: #3282b8;
}

.calendar-item--disabled .calendar-item__header {
  color: #BCBFC5;
}

.calendar-item__header {
  height: 30px;
  font-weight: bold;
  color:#8C8D91;
  cursor: default;
}

.calendar-item__content {
  flex: 1;
  flex-direction: column;
}

.calendar-item:hover .add-reminder {
  visibility: visible;
}

.calendar-item__reminder {
  opacity: 0.5;
  border-left: 2px solid;
  padding-left: 4px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
