.calendar-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 120px;
  border-top: 0.5px #f0f3f9 solid;
}

.dark-mode .calendar-item {
  background-color: #202225;
}

.calendar-item{
  border-right: 0.5px #f0f3f9 solid;
}

.calendar-item:first-child {
  border-left: 0.5px #f0f3f9 solid;
}

.calendar-item.last-row{
  border-bottom: 0.5px #f0f3f9 solid;
}

.calendar-item--inverted {
  background-color: #ffffff;
}

.dark-mode .calendar-item--inverted {
  background-color: #202225;
}

.dark-mode  .calendar-item__header {
  color: #ffffff;
}

.calendar-item--inverted .calendar-item__header {
  color: #3282b8;
}

.calendar-item--disabled .calendar-item__header {
  color: #bcbfc5;
}

.calendar-item__header {
  height: 30px;
  font-weight: bold;
  color: #8c8d91;
  cursor: default;
  justify-content: space-between;
  display: flex;
}

.calendar-item__content {
  flex: 1;
  flex-direction: column;
}

.calendar-item__reminder {
  text-overflow: ellipsis;
  opacity: 0.5;
  border-left: 2px solid;
  padding-left: 4px;
  padding-right: 4px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  word-break: break-all;
  cursor: pointer;
}

.calendar-item__x-icon {
  margin-top: 2px;
  visibility: hidden;
}

.calendar-item:hover .calendar-item__x-icon {
  visibility: visible;
  cursor: pointer;
}

.calendar-item__reminder-content {
  display: flex;
  justify-content: space-between;
}

.calendar-item__reminder-x-icon {
  margin-top: 2px;
  visibility: hidden;
}

.calendar-item__reminder:hover .calendar-item__reminder-x-icon {
  visibility: visible;
}
